:root {
  --off-white: hsl(36, 100%, 99%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --soft-orange: hsl(35, 77%, 62%);
}

.newArticle {
  padding: 3rem 0rem;
}

.newArticle:not(:last-child) {
  border-bottom: 0.1rem solid var(--dark-grayish-blue);
}

.newArticle-heading {
  color: var(--off-white);
  font-size: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.newArticle-heading:hover {
  color: var(--soft-orange);
}

.newArticle-body {
  color: var(--dark-grayish-blue);
  font-weight: 700;
  line-height: 2.2rem;
}
