:root {
  --soft-orange: hsl(35, 77%, 62%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

.homepage {
  max-width: 65rem;
  padding: 0 1.8rem;
  margin: 0 auto;
}

.homepage-new {
  background-color: var(--very-dark-blue);
  padding: 3rem 2.2rem 1rem 2.2rem;
}

.homepage-new-heading {
  color: var(--soft-orange);
  font-size: 4rem;
}

.homepage-bottom {
  margin: 7rem 0rem;
}

@media (min-width: 1100px) {
  .homepage {
    max-width: 120rem;
    padding: 4rem 2rem;
  }

  .homepage-main {
    margin-top: 2rem;
  }

  .homepage-top {
    display: flex;
    gap: 3rem;
  }

  .homepage-new {
    flex: 1;
  }

  .homepage-bottom {
    display: flex;
    gap: 3.5rem;
  }
}
